

*{
    margin: 0px;
    padding: 0px;
}



body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    animation: scrolling 7s;
}



@keyframes scrolling{
    from{
        overflow: hidden;
    }
    to{
        overflow: auto;
    }
}



.loader{
    background-color:#99E2D0;
    position:absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1000;
    animation: disapear 4.7s ease-in;
}


@keyframes disapear{
    from{
        display:flex;
        z-index: 2;
    }
    to{
        display: none;
        z-index: -1;
    }
}




.loader i{
    /*background-color: darkgray;*/
    color: darkgoldenrod;
    border: 1px solid #9356DC ;
    height: 59px;
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0 auto;
    animation: spin 1.8s ease-in 0s infinite;   
}


@keyframes spin{
    0%{
        transform: rotateY(0deg);
        
    }
    50%{
        transform: rotateY(180deg);
        
    }
    100%{
        transform: rotateY(0deg);
        
    }
}






.container{
    background-color: rgb(240, 243, 243);
    position: absolute;
    width: 100%;
    height:auto;
    padding-top: 35px;
    flex-direction: column;
    display: flex;
    z-index: 1;
    animation: appears;
    
}



@keyframes appears {
    from{
        display: none;
    }
    to{
        display: flex;
    }
}





header{
  background-color: rgb(252, 252, 252);
  //background-color: rgb(131, 15, 30);
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}



header .logo img{
    width: 140px;
    transform: translateX(-20px);

    
}



.localisation{
    i{
    
        padding-right: 10px;
        font-size: 12px;
        color: rgb(71, 71, 71);
    }
    
    background-color: rgb(223, 226, 226);
    box-shadow: inset 0px 3px 3px rgb(95, 94, 95);
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

}





.reservation{
    p{
    padding-top: 15px;
    color: rgb(131, 131, 131);
}
    background-color: rgb(240, 241, 240);
    text-align: center;

    height: 225px;
}





.reservation button{

    width: 59%;
    height: 45px;
    margin-top: 30px;
    border-radius: 20px;
    background: linear-gradient(175deg,#FF79DA 10%, #9356DC 100% );
}


.reservation button a{
    text-decoration: none;
    color: white;
}


.fonctionnement{
    h1{
        margin-left: 30px;
    }
    .selection{
        //background-color: rgb(33, 81, 121);
        margin: 15px auto;
        height: 59px;
        width: 90%;
        display: flex;
        align-items: center;
      
    }
    .selection .number{
        background-color: #9356DC ;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        z-index: 1;
}
    background-color: rgb(248, 246, 246);
    padding: 40px 0px;
    width: 100%;
    margin: 0 auto;
}





.fonctionnement .selection .number p{
    color: white;    
    
}



.fonctionnement-button{

    background-color: rgb(232, 235, 232);
    width: 100%;
    display: flex;
    height: 59px;
    justify-content: center;
    align-items: center ;
    border-radius: 15px;
    transform: translateX(-10px);
    box-shadow: 2px 5px 8px rgb(207, 205, 205);
}

.fonctionnement-button:hover{
    background-color: rgb(243, 242, 242);
    box-shadow: 5px 8px 10px rgb(65, 59, 62);
}





.fonctionnement-icon{
    /*background-color: rgb(224, 35, 60);*/
    font-size: 20px;
    transform: translateX(-40px);
}


.fonctionnement-icon .violet{
    color: #9356DC ;
}




.all-restaurants{
    padding-top: 40px;
    height: auto;
    padding-bottom: 45px;
}

.all-restaurants h1{
    margin-left: 20px;
}


.restaurant-card a{
    background-color: rgb(250, 248, 245);
    text-decoration: none;
    margin: 0 auto 15px;
    width: 90%;
    height: 210px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(168, 166, 167);
}


.nouveau {
    background-color:#99E2D0;
    position: absolute;
    top: 0px;
    left: 75%;
    padding: 5px;
    margin-top: 12px;
    color: #4d746a;
    font-weight: bold;
}




.restaurant-card img{
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}



.restaurant-card i{
    //background-color: green;
    padding-top: 15px;
    padding-right: 15px;
}


.active-card{
    //background-color: red;
    text-decoration: none;
    height: 180px;
}


.active-card img{
    height: 70%;
}


.restaurant-infos{
    //background-color: fuchsia;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.restaurant-infos h3{
    //background-color: rgb(245, 169, 245);
    
   

}


.restaurant-infos i{
    margin: 15px 10px;
    padding: 0px;
}















footer{
   
    p{
        margin-bottom: 7px;
    }
    background-color: rgb(65, 59, 62);
    width: 100%;
    height: 150px;
    color: white;
    padding: 30px 30px;
  /*position: fixed;
  bottom: 0px;
  */
}

footer img{
    width:150px;
    color: white;
}





.proposer{
    p{
        margin-left: 15px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 7px;

}

.devenir{
    p{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;

}


footer a{
    text-decoration: none;
    color: white;
}


