

*{
    margin: 0px;
    padding: 0px;
}









.loader{
    background-color:#99E2D0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /*opacity: 0;*/
    animation: disapear 3.7s ;
}


@keyframes disapear{
    from{
        z-index: 0;
    }
    to{
        z-index: 10;
    }
}




.loader i{
    /*background-color: darkgray;*/
    color: darkgoldenrod;
    height: 50px;
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 auto;
    animation: spin 1.8s ease-in 0s infinite;   
}


@keyframes spin{
    0%{
        transform: rotateY(90deg);
        
    }
    100%{
        transform: rotateY(0deg);
        transform: scale(1.5);
        
    }
}






.container{
    background-color: rgb(3, 71, 71);
    position: absolute;
    width: 100%;
    height:auto;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}




header{
  background-color: darkorange;
  width: 100%;
  height: auto;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0px;
}



.localisation{
    background-color: darkturquoise;
    text-align: center;
}


.reservation{
    background-color: green;
    text-align: center;
    padding: 30px;
}


.reservation button{
    background-color: hotpink;
    width: 59%;
    height: 35px;
    margin-top: 30px;
    border-radius: 20px;
}


.reservation button a{
    text-decoration: none;
    color: white;
}




footer{
  background-color: deeppink;
  width: 100%;
  /*position: fixed;
  bottom: 0px;
  */
}




