

*{
    margin: 0px;
    padding: 0px;
}


html{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    max-width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    animation: scrolling 7s;
}



@keyframes scrolling{
    from{
        overflow: hidden;
    }
    to{
        overflow: auto;
        overflow-x: hidden;
    }
}



.loader{
    background-color:#99E2D0;
    position:absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1000;
    animation: disapear 4.7s ease-in;
}


@keyframes disapear{
    from{
        display:flex;
        z-index: 2;
    }
    to{
        display: none;
        z-index: -1;
    }
}




.loader i{
    /*background-color: darkgray;*/
    color: darkgoldenrod;
    border: 1px solid #9356DC ;
    height: 59px;
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0 auto;
    animation: spin 1.8s ease-in 0s infinite;   
}


@keyframes spin{
    0%{
        transform: rotateY(0deg);
        
    }
    50%{
        transform: rotateY(180deg);
        
    }
    100%{
        transform: rotateY(0deg);
        
    }
}






.container{
    background-color: rgb(240, 243, 243);
    position: absolute;
    width: 100%;
    height:auto;
    padding-top: 35px;
    flex-direction: column;
    display: flex;
    z-index: 1;
    animation: appears;
    
}



@keyframes appears {
    from{
        display: none;
    }
    to{
        display: flex;
    }
}




header{
    .logo img{
      width: 135px;
      margin: 0 auto;
    }
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
}






.localisation{
    i{
        padding-right: 10px;
        font-size: 12px;
        color: rgb(71, 71, 71);
    }
    background-color: rgb(223, 226, 226);
    box-shadow: inset 0px 3px 3px rgb(95, 94, 95);
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 5px;
}





.reservation{
    h1{
        //background-color: teal;
        width:85%;
        margin: 30px auto;
        font-size: 35px;
    }
    p{
        //background-color: yellow;
        width: 85%;
        padding-top: 15px;
        color: rgb(131, 131, 131);
        margin: 0 auto;
        font-size: 20px;
    }
    .button{
        width: 53%;
        height: 55px;
        margin: 35px auto 0px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgb(87, 87, 87);
        background: linear-gradient(175deg,#FF79DA 10%, #9356DC 100% );
        display: flex;
        justify-content: center;
        align-items: center;
    }
     a{
        text-decoration: none;
        color: white;
    }
    background-color: rgb(240, 241, 240);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 459px;
    padding-bottom: 30px;
}





.fonctionnement{
    h1{
        font-size: 25px;
        margin-left: 30px;
        padding-bottom: 25px;
        padding-top: 30px;
    }
    .selection{
        //background-color: rgb(33, 81, 121);
        margin: 15px auto;
        height: 59px;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .selection .number{
        background-color: #9356DC ;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        z-index: 1;
    }
    background-color: rgb(248, 246, 246);
    padding: 40px 0px;
    width: 100%;
    margin: 0 auto;
}





.fonctionnement .selection .number p{
    color: white;
}



.fonctionnement-button{
    p{
        font-weight: bold;
    }
    background-color: rgb(232, 235, 232);
    width: 100%;
    display: flex;
    height: 59px;
    justify-content: center;
    align-items: center ;
    border-radius: 15px;
    transform: translateX(-10px);
    box-shadow: 2px 5px 8px rgb(207, 205, 205);
}



.fonctionnement-button:hover{
    background-color: rgb(243, 242, 242);
    box-shadow: 5px 8px 10px rgb(65, 59, 62);
}





.fonctionnement-icon{
    /*background-color: rgb(224, 35, 60);*/
    color: rgb(119, 118, 119);
    font-size: 20px;
    transform: translateX(-40px);
}




.fonctionnement-icon .violet{
    color: #9356DC ;
}




.all-restaurants{
    padding-top: 40px;
    height: auto;
    width: 100%;
    padding-bottom: 45px;
}



.all-restaurants h1{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 18px;
}



.restaurant-card a{
    background-color: rgb(250, 248, 245);
    text-decoration: none;
    margin: 0 auto 15px;
    max-width: 90%;
    height: 280px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(168, 166, 167);
}


.two .pic{
    background-image: url(../img/stil-u2Lp8tXIcjw-unsplash.jpg);
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}



.three .pic{
    background-image: url(../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center  ;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}


.four .pic{
    background-image: url(../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center  ;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}



.nouveau {
    background-color:#99E2D0;
    position: absolute;
    top: 0px;
    left: 75%;
    padding: 5px;
    margin-top: 12px;
    color: #4d746a;
    font-weight: bold;
    border-radius: 2px;
}




.restaurant-card img{
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-position:center;
}




.restaurant-card i{
    //background-color: green;
    padding-top: 15px;
    padding-right: 15px;
}




.active-card{
    //background-color: red;
    text-decoration: none;
    height: 180px;
}




.active-card img{
    height: 70%;
}




.restaurant-infos{
    h3{
        //background-color: rgb(245, 169, 245);
        color: black;
        padding-left: 10px;
    }
    p{
        color: black;
        padding-left: 10px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}








.icon{
        //background-color: midnightblue;
        width: 50px;
        height: 50px;
        margin-top: 25px;
}


.icon path{
    fill: transparent;
    stroke-width: 1.5;
    stroke: rgb(63, 63, 63);
}



.icon:hover path{
    animation: animate-heartt 0.5s linear forwards;
   
}



@keyframes animate-heartt{
    0%{
        fill: transparent;
        stroke-width: 2;
    }
    100%{
       fill: red;
       stroke-width: 1;
    }
}












footer{
    p{
        margin-bottom: 7px;
    }
    background-color: rgb(65, 59, 62);
    width: 100%;
    height: 150px;
    color: white;
    padding: 30px 20px;
    
}





.foot path{
    fill: white;
}



.proposer{
    p{
        margin-left: 15px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 7px;
}



.devenir{
    p{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}



footer a{
    text-decoration: none;
    color: white;
}







/*-----------------------------*/
/*-----------------------------*/


/*responsive part*/



@media screen and(min-width:640px) and (max-width:768px) {


    .localisation{
        height: 55px;
    }
    



    .responsive{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .reservation{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        width: 50%;
    }


    .reservation .button{
        width: 80%;
    }



    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding-top: 75px;
    }



    .fonctionnement h1{
        margin-left: 0px;
    }



    .fonctionnement-button{
        width: 90%;
    }


    .fonctionnement-icon{
        transform: translateX(-10px);
    }


}



/*--------------------*/ 



@media screen and(min-width:768px)  {


    .localisation{
        height: 55px;
    }

    .restaurant-card a{
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .nouveau {
        left:25%;
        
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .responsive{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }



    .reservation{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 50%;
        padding-top: 70px;
    }



    
    .reservation .button{
        width: 80%;
    }


    
    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        width: 50%;
    }



    .fonctionnement h1{
        margin-left: 0px;
    }


    
    .fonctionnement-button{
        width: 90%;
    }
    

    

    .all-restaurants{
        display: flex;
        flex-direction: column;
    }

    .all-restaurants h1{
        margin: 0 auto;
        padding-bottom: 20px;
    }





    .all-restaurantsB{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }



    .restaurant-card{
        width: 20%;
    }

}





