.choix .coche{
    background-color: #99E2D0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    
    height: 100%;
    transition: 0.6s;
    right: 0px;

    //width: 15%;
    /*----*/
    //width: 0%;

    width: 15%;
    margin-right: -15%;

    //margin-left: 100%;
}


.choix .coche i{
    color: white;
    //opacity: 0;
    transition: 0.6s;
}


.choix:hover .coche{
    //background-color: brown;
    width: 15%;
    border-radius: 0px 10px 10px 0px;
    
    //margin-left: 0%;
    margin-right: 0%;
}


.choix:hover .coche i{
    color: white;
    //opacity: 1;
    font-size: 22px;
    animation: rot 0.4s ease 0.1s forwards;
}


@keyframes rot{
    from{
        transform: rotate(-360deg);
        transform-origin: center center;
    }
    to{
        transform: rotate(0deg);
        transform-origin: center center;
    }
}



/*
@media screen and(min-width:735px) and (max-width:1100px) {
        .choix:hover{
            .text h3, p{
                //background-color: slateblue;
                width: 73%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
}
*/