.choix .coche{
    background-color: #99E2D0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    top: 0px;
    bottom: 0px;
    right: -20px;
    width: 15%;
    height: 100%;
    opacity: 0;
    transition: 0.2s;
}


.choix .coche i{
    opacity: 0;
}





.choix:hover{
    .text h3, p{
        //background-color: slateblue;
        width: 76%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.choix:hover .coche {
    //background-color: brown;
    opacity: 1;
    z-index: 500;
    border-radius: 0px 10px 10px 0px;
    transform: translateX(-20px);
}


.choix:hover .coche i{
    display: flex;
    color: white;
    font-size: 22px;
    z-index: 501;
    animation: rot 0.4s ease 0.1s forwards;
}


@keyframes rot{
    from{
        opacity: 0;
        transform: rotate(-180deg);
        transform-origin: center center;
    }
    to{
        opacity: 1;
        transform: rotate(0deg);
        transform-origin: center center;
    }
}






@media screen and(min-width:735px) and (max-width:1100px) {
        .choix:hover{
        .text h3, p{
            //background-color: slateblue;
            width: 73%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
