.box {
  width: 100%;
  height: 70px;
  padding-bottom: 5px;
}

.box1, .box1b, .box1c {
  padding-top: 5px;
}

.choix {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 11px #b8b6b7;
          box-shadow: 1px 1px 11px #b8b6b7;
  position: relative;
}

.choix .text {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px 0px 0px 10px;
}

.choix .text h3 {
  padding-left: 15px;
  padding-top: 15px;
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  /*overflow: hidden;
        text-overflow: ellipsis;*/
}

.choix .text p {
  padding-left: 15px;
  padding-top: 2px;
  font-size: 10px;
}

.choix .coche {
  background-color: #99E2D0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 10px 10px 0px;
  top: 0px;
  bottom: 0px;
  right: -20px;
  width: 15%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.choix .coche i {
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.choix:hover .text h3, .choix:hover p {
  width: 68%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choix:hover .coche {
  opacity: 1;
  z-index: 500;
  border-radius: 0px 10px 10px 0px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.choix:hover .coche i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 25px;
  z-index: 501;
  -webkit-animation: rot 0.5s ease 0.2s forwards;
          animation: rot 0.5s ease 0.2s forwards;
}

/*
.choix::after{
    content: " ";
    width: 15%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: #99E2D0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.5s;
    opacity: 0;
    transform: translate(40px);
}

*/
/*
.choix::before{
    content: " \f058";
    font-family:"Font Awesome 5 free" ;
    font-size: 24px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 15%;
    opacity: 0;
    transition: 0.5s;
}
*/
/*
.choix:hover::after{
    transform: translate(0px);
    display: flex;
    opacity: 1;
}
*/
/*
.choix:hover::before{
    z-index: 2;
    animation: rot 0.5s ease 0.2s forwards;
}
*/
@media screen and (min-width: 735px) and (max-width: 1100px) {
  .responsive-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    width: 280px;
    margin-left: 30vw;
  }
  .choix {
    width: 100%;
  }
  .choix:hover .text h3, .choix:hover p {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1100px) {
  .responsive-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    width: 350px;
    margin: 20px;
  }
}
/*# sourceMappingURL=choix.css.map */