.box {
  width: 100%;
  height: 68px;
  padding-bottom: 5px;
}

.box1, .box1b, .box1c {
  padding-top: 5px;
}

.choix {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 11px #b8b6b7;
          box-shadow: 1px 1px 11px #b8b6b7;
  position: relative;
}

.choix .text {
  background-color: #9ac41c;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px 0px 0px 10px;
}

.choix .text h3 {
  background-color: #71449c;
  padding-left: 10px;
  padding-top: 5px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /*overflow: hidden;
        text-overflow: ellipsis;*/
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.choix .text p {
  background-color: mediumpurple;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 11px;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*-----*/
.choix:hover .text {
  width: 55%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.choix:hover .text h3 {
  background-color: tomato;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.choix:hover .text p {
  background-color: #473f3d;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/*---*/
@media screen and (min-width: 735px) and (max-width: 1100px) {
  .responsive-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    width: 50%;
    margin-left: 24vw;
  }
  .choix .text {
    width: 80%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .choix .text h3 {
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .choix .text p {
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .choix:hover .text h3 {
    width: 98%;
    -webkit-animation: push3  ease;
            animation: push3  ease;
  }
  .choix:hover .text p {
    width: 73%;
    -webkit-animation: push4  ease;
            animation: push4  ease;
  }
  .choix:hover .text {
    width: 80%;
  }
  @-webkit-keyframes push3 {
    0% {
      width: 100%;
    }
    100% {
      width: 98%;
    }
  }
  @keyframes push3 {
    0% {
      width: 100%;
    }
    100% {
      width: 98%;
    }
  }
  @-webkit-keyframes push4 {
    0% {
      width: 100%;
    }
    100% {
      width: 73%;
    }
  }
  @keyframes push4 {
    0% {
      width: 100%;
    }
    100% {
      width: 73%;
    }
  }
}

@media screen and (min-width: 900px) {
  .responsive-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    width: 40%;
    margin: 20px;
  }
  .choix .text {
    width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  .responsive-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30%;
    height: 100px;
    margin: 10px;
  }
  .choix .text {
    width: 80%;
  }
  .choix .text .text h3 {
    font-size: 16px;
  }
  .choix .text .text p {
    width: 100%;
    font-size: 13px;
  }
}
/*# sourceMappingURL=choix.css.map */