.box {
  background-color: #9e165a;
  width: 100%;
  height: 70px;
}

.choix {
  background-color: #666665;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 11px #b8b6b7;
          box-shadow: 1px 1px 11px #b8b6b7;
  position: relative;
}

.choix::after {
  content: " ";
  width: 15%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: translate(40px);
          transform: translate(40px);
}

.choix::before {
  content: " \f058";
  font-family: "Font Awesome 5 free";
  font-size: 24px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 15%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.choix:hover::before {
  z-index: 2;
  -webkit-animation: rot 0.5s ease 0.2s forwards;
          animation: rot 0.5s ease 0.2s forwards;
}

@-webkit-keyframes rot {
  from {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@keyframes rot {
  from {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

.choix:hover::after {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.choix .text {
  background-color: #9ac41c;
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px 0px 0px 10px;
}

.choix .text h3 {
  background-color: indianred;
  padding-left: 15px;
  padding-top: 15px;
  /*font-size: 20px;
        width: 250px;*/
  width: 100%;
  font-size: 11px;
  white-space: nowrap;
  /*overflow: hidden;
        text-overflow: ellipsis;*/
}

.choix .text p {
  padding-left: 15px;
  padding-top: 2px;
  font-size: 10px;
}

/*
.choix :hover{
    .text h3{
        width: ;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
*/
.choix .tarif {
  background-color: #07b664;
  width: 20%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choix .tarif p {
  padding-top: 15px;
  font-size: 10px;
  font-weight: bold;
}

.choix:hover .tarif p {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 735px) and (max-width: 1100px) {
  .responsive-box {
    background-color: yellowgreen;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    background-color: violet;
    width: 285px;
    margin: 5px;
  }
  .choix {
    width: 100%;
  }
  .choix:hover .text h3 {
    background-color: slateblue;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*
    .choix .text{
        h3{
            background-color: slateblue;
            width: 100%;

            //white-space: nowrap;
            //overflow: hidden;
            //text-overflow: ellipsis;
        }
        background-color: salmon;
        width:67%;
    }

    .choix:hover::after{
        width: 15%;
    }
        
    .choix:hover .tarif p{
        transform: translateX(-40px);
        transition: 0.5s;
    }

    /*
    .choix:hover .text h3{
        width: ;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  */
}

@media screen and (min-width: 1100px) {
  .responsive-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .responsive-box .box {
    width: 350px;
    margin: 20px;
  }
  /*

    .choix .text{
        h3{
            //background-color: red;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            //text-transform: lowercase;
        }
        //background-color: rgb(175, 111, 143);
        width: 75%;
    }

    .choix:hover .tarif p{
        transform: translateX(-30px);
        transition: 0.5s;
    }

    .choix:hover::after{
        //width: 15%;
        width: 5%;
    }

    .choix:hover .text h3{
        width: ;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
}
/*# sourceMappingURL=choix.css.map */