

.entrée{
    .box1{
        animation: slide 1s ease  0.2s ;
        margin-top: 10px;
        cursor: pointer;
    }
    .box2{
        animation: slide 2s ease 0.2s  ;
        margin-top: 10px;
        cursor: pointer;
    }
    .box3{
        animation: slide 3s ease  0.2s ;
        margin-top: 10px;
        cursor: pointer;
    }
    .box4{
        animation: slide 4s ease  0.2s ;
        margin-top: 10px;
        cursor: pointer;
    }
    h2{
        text-transform: uppercase;
    }
    //background-color: #f3f3f2;
    //background-color: rgb(0, 4, 255);
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}







.entrée h2{
    position: relative;
    color: rgb(53, 53, 53);
    padding-bottom: 10px;
    font-size: 17px;
}




.entrée h2::after{
    content: " ";
    height: 3px;
    width: 12%;
    background-color:#99E2D0;
    position: absolute;
    top: 90%;
    left: 0px;
}



@media screen and  (min-width:765px) and (max-width:1100px) {
    
    .entrée h2::after{
        width: 55%;
    }
}



@media screen and  (min-width:1100px){
    
    .entrée h2::after{
        width: 85%;
    }
}
