footer{
    p{
        margin-bottom: 7px;
    }
    background-color: rgb(65, 59, 62);
    width: 100%;
    height: 150px;
    color: white;
    padding: 30px 20px;
}


.foot path{
    fill: white;
    font-family: 'Shrikhand', cursive;
}


.proposer{
    p{
        margin-left: 15px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 7px;
}


.devenir{
    p{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}


footer a{
    text-decoration: none;
    color: white;
}

