header{
    .logo{
        //background-color: chartreuse;
        //margin: 0 auto;
        margin: 35px auto 7px;
        width: 173px;
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
    }
    .logo img{
        //background-color: blueviolet;
        width: 100%;
        height: 100%;
        font-family: 'Shrikhand', cursive;
    }

    background-color: rgb(252, 252, 252);
    width: 100%;
    height: auto;
    padding: 35px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    //z-index: 2;
    z-index: 105;
    display: flex;
    justify-content: center;
    align-items: center;
}

