.icon{
    //background-color: midnightblue;
    width: 50px;
    height: 50px;
    margin-top: 25px;
}


.icon path{
fill: transparent;
stroke-width: 1.5;
stroke: rgb(63, 63, 63);
cursor: pointer;
}



.icon:hover path{
animation: animate-heart 0.5s linear forwards;

}



@keyframes animate-heart{
    0%{
        fill: transparent;
        stroke-width: 2;
    }
    100%{
        fill: #FF79DA ;
        stroke-width: 1;
    }
}
