
*{
    margin: 0px;
    padding: 0px;
}


body{
    width: 100vw;
    height: 100vh;
}

 
.container{
    //background-color: rgb(3, 71, 71);
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}



header{
    
    .logo img{
      width: 135px;
      margin: 0 auto;
    }
    background-color: rgb(252, 252, 252);

    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
  }
  


  .retour i{
      margin-left: -58vw;
  }




.photo{
    img{
        width: 100%;
        height: 100%;
    }
    background-color: darksalmon;
    width: 100%;
    height: 300px;
}





.carte{
    background-color: darkseagreen;
    height: auto;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    transform: translateY(-15px);
}



.nom-restaurant{
    //background-color:purple ;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 0px;
}



.aime i{
    font-size: 30px;
    color: black;
    margin-top: 7px;
}




.entrée{
    background-color: brown;
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 15px;
}



.entrée h1{
    position: relative;
    color: rgb(53, 53, 53);
    padding-bottom: 15px;
}

.entrée h1::after{
    content: " ";
    height: 5px;
    width: 55px;
    background-color:#99E2D0;
    position: absolute;
    top: 90%;
    left: 0px;
}









footer{
   
    p{
        margin-bottom: 7px;
    }
    background-color: rgb(65, 59, 62);
    width: 100%;
    height: 150px;
    color: white;
    padding: 30px 20px;
  /*position: fixed;
  bottom: 0px;
  */
}

footer img{
    width:150px;
    color: white;
}





.proposer{
    p{
        margin-left: 15px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 7px;

}

.devenir{
    p{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;

}


footer a{
    text-decoration: none;
    color: white;
}






