@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #fcfcfc;
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 135px;
  margin: 0 auto;
}

.retour i {
  margin-left: -58vw;
}

.photo {
  background-color: darksalmon;
  width: 100%;
  height: 300px;
}

.photo img {
  width: 100%;
  height: 100%;
}

.carte {
  background-color: darkseagreen;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.nom-restaurant {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 15px 0px;
}

.aime i {
  font-size: 30px;
  color: black;
  margin-top: 7px;
}

.entrée {
  background-color: brown;
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 15px;
}

.entrée h1 {
  position: relative;
  color: #353535;
  padding-bottom: 15px;
}

.entrée h1::after {
  content: " ";
  height: 5px;
  width: 55px;
  background-color: #99E2D0;
  position: absolute;
  top: 90%;
  left: 0px;
}

.choix {
  background-color: fuchsia;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px 15px 0px;
  width: 100%;
  height: 70px;
  border-radius: 10px;
}

.choix .text {
  background-color: green;
  width: 80%;
  height: 70px;
  border-radius: 10px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choix .prix {
  margin-right: 25px;
  font-size: 15px;
  font-weight: bold;
}

.choix .text h2 {
  font-size: 20px;
}

.choix .text p {
  font-size: 10px;
}

footer {
  background-color: #413b3e;
  width: 100%;
  height: 150px;
  color: white;
  padding: 30px 20px;
  /*position: fixed;
  bottom: 0px;
  */
}

footer p {
  margin-bottom: 7px;
}

footer img {
  width: 150px;
  color: white;
}

.proposer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
  margin-bottom: 7px;
}

.proposer p {
  margin-left: 15px;
}

.devenir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 7px;
}

.devenir p {
  margin-left: 10px;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=menu1.css.map */