
*{
    margin: 0px;
    padding: 0px;
}



html{
    font-family: Arial, Helvetica, sans-serif;
}



body{
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

 

.container{
    //background-color: rgb(3, 71, 71);
    //position: absolute;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




header{
    .logo img{
      width: 135px;
      margin: 0 auto;
    }
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
}
  



.retour i{
    position: absolute;
    top: 10px;
    left: 10px;
}




.photo{
    img{
        width: 100%;
        height: 100%;
        background-position: center;
        object-fit: cover;
    }
    background-color: darksalmon;
    width:100%;
    height: 300px;
}



.carte{
    background-color: #e2e2e0;
    height: auto;
    width: 100%;
    //width: 97%;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    transform: translateY(-15px);
}









.nom-restaurant{
    background-color: #e2e2e0;
    //background-color: green;
    height: 70px;
    //width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 15px;
}


.aime .icon{
        //background-color: midnightblue;
        width: 50px;
        height: 50px;
}


.aime .icon path{
    fill: transparent;
    stroke-width: 2;
    stroke: black;
}



.aime .icon:hover path{
    animation: animate-heart 0.5s linear forwards;
   
}



@keyframes animate-heart{
    0%{
        fill: transparent;
        stroke-width: 2;
    }
    100%{
       fill: red;
       stroke-width: 1;
    }
}











.entrée{
    .box1{
        animation: slide 3s ease 0.3s forwards ;
        margin-top: 10px;
    }
    .box2{
        animation: slide 3s ease 0.6s forwards ;
        margin-top: 10px;
    }
    .box3{
        animation: slide 3s ease 0.9s forwards ;
        margin-top: 10px;
    }
    background-color: #e2e2e0;
    text-transform: uppercase;
    font-size: 9px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    //margin-left: 15px;
    
}





@keyframes slide {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0%);
    }
}




.entrée h1{
    position: relative;
    color: rgb(53, 53, 53);
    padding-bottom: 15px;

}




.entrée h1::after{
    content: " ";
    height: 3px;
    width: 55px;
    background-color:#99E2D0;
    position: absolute;
    top: 90%;
    left: 0px;
}



.box{
    //background-color: rgb(158, 22, 90);
    width: 100%;
    height: 70px;
}




.choix{
    //background-color: salmon;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(184, 182, 183);
    position: relative;
}



.choix::after{
    content: " \f058";
    font-family:"Font Awesome 5 free" ;
    width: 0%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: #99E2D0;
    color: white;
    //display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.8s;
    opacity: 0;
}



.choix:hover::after{
    width: 20%;
    display: flex;
    opacity: 1;
}





.choix .text{
    h2{
        padding-left: 15px;
        padding-top: 15px;
        font-size: 20px;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    p{
        padding-left: 15px;
        padding-top: 2px;
        font-size: 10px;
    }
    background-color: #f4f5f1;
    width: 80%;
    height: 100%;
    display: flex;
    //flex-wrap: nowrap;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px 0px 0px 10px;
}




.choix .tarif{
    p{
        padding-top: 15px;
    }
    background-color: #f4f5f1;
    width: 20%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.plat{
    .box1b{
        animation: slideB 3s ease 1.2s forwards ;
        margin-top: 10px;
    }
    .box2b{
        animation: slideB 3s ease 1.5s forwards ;
        margin-top: 10px;
    }
    .box3b{
        animation: slideB 3s ease 1.8s forwards ;
        margin-top: 10px;
    }
    background-color: #e2e2e0;
    text-transform: uppercase;
    font-size: 9px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


@keyframes slideB {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0%);
    }
}


.plat h1{
    position: relative;
    color: rgb(53, 53, 53);
    padding-bottom: 15px;
    padding-top: 15px;
}



.plat h1::after{
    content: " ";
    height: 3px;
    width: 55px;
    background-color:#99E2D0;
    position: absolute;
    top: 90%;
    left: 0px;
}






.dessert{
    .box1c{
        animation: slide 3s ease 2.1s forwards ;
        margin-top: 10px;
    }
    .box2c{
        animation: slide 3s ease 2.4s forwards ;
        margin-top: 10px;
    }
    .box3c{
        animation: slide 3s ease 2.7s forwards ;
        margin-top: 10px;
    }
    background-color: #e2e2e0;
    text-transform: uppercase;
    font-size: 9px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    //margin-left: 15px;
}



.dessert h1{
    position: relative;
    color: rgb(53, 53, 53);
    padding-bottom: 15px;
    padding-top: 15px;
}


.dessert h1::after{
    content: " ";
    height: 3px;
    width: 55px;
    background-color:#99E2D0;
    position: absolute;
    top: 90%;
    left: 0px;
}





.commande{
    a {
        background: linear-gradient(175deg,#FF79DA 10%, #9356DC 100% );
        border-radius: 25px;
        height: 40px;
        width: 155px;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        color: rgb(248, 248, 247);
        transform: translateY(-10%);
    }
    //background-color: rgb(26, 130, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px auto 50px;
}







footer{
    p{
        margin-bottom: 7px;
    }
    background-color: rgb(65, 59, 62);
    width: 100%;
    height: 150px;
    color: white;
    padding: 30px 20px;
    
}





.foot path{
    fill: white;
}



.proposer{
    p{
        margin-left: 15px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 7px;
}



.devenir{
    p{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    //background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}



footer a{
    text-decoration: none;
    color: white;
}






/*-------------------------------*/ 
/*-------------------------------*/ 



/*responsive part*/ 




@media screen and(min-width:555px) and (max-width:768px) {
    .choix .text{
        h2{
            width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}




/*--------------------*/ 


@media screen and(min-width:768px)  {
    .choix .text{
        h2{
            width: 500px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}






