@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #fcfcfc;
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 135px;
  margin: 0 auto;
}

.retour i {
  margin-left: -58vw;
}

.photo {
  background-color: darksalmon;
  width: 100%;
  height: 300px;
}

.photo img {
  width: 100%;
  height: 100%;
}

.carte {
  background-color: #b0bc8f;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.nom-restaurant {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 15px 0px;
}

.nom-restaurant .aime i {
  font-size: 30px;
  color: black;
  margin-top: 7px;
}

.entrée {
  background-color: brown;
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 15px;
}

.entrée h1 {
  position: relative;
  color: #353535;
  padding-bottom: 15px;
}

.entrée h1::after {
  content: " ";
  height: 3px;
  width: 55px;
  background-color: #99E2D0;
  position: absolute;
  top: 90%;
  left: 0px;
}

/*

.button{
    .text{
        background-color: green;
        width: 80%;
        height: 70px;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        //align-items: end;
    }
    .tarif{
        i{
            font-size: 25px;
            display: none;
        }
        background-color: wheat;
        height: 70px;
        width:20% ;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prix{
        background-color: tomato;
        font-size: 15px;
        font-weight: bold;
    }
    
           .checkbox{
        background-color: rgb(153, 153, 153);
        width: 100%;
        height: 70px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    
    background-color: fuchsia;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 15px 0px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    position: relative;
}




.choix::after{
    content: " \f058";
    font-family:"Font Awesome 5 free" ;
    width: 0%;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    //background-color: yellow;
    //display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.8s;
    opacity: 0;
}


.choix:focus::after{
    background-color: red;
    width: 20%;
    display: flex;
    opacity: 1;
}


*/
.box {
  background-color: #413b3e;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.button {
  background-color: #0d5f80;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

/*
.button::after{
    content: " \f058";
    font-family:"Font Awesome 5 free" ;
    width: 0%;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(255, 145, 0);
    //display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.8s;
    opacity: 0;
}

*/
.coche {
  width: 0%;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
  background-color: #ff9100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-animation: appears 0.3s;
          animation: appears 0.3s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

@-webkit-keyframes appears {
  from {
    width: 0%;
    opacity: 0;
    display: none;
  }
  to {
    width: 20%;
    opacity: 1;
    display: -webkit-box;
    display: flex;
  }
}

@keyframes appears {
  from {
    width: 0%;
    opacity: 0;
    display: none;
  }
  to {
    width: 20%;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button:checked ~ .coche {
  background-color: red;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.choix {
  background-color: #028802;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choix .text {
  background-color: dimgray;
  width: 80%;
  border-radius: 10px 0px 0px 10px;
}

.choix .tarif {
  /*i{
        background-color: hotpink;
        transform: translateX(-10px);
    }
    */
  background-color: gold;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.choix .text h2 {
  font-size: 20px;
}

.choix .text p {
  font-size: 10px;
}

.plat {
  background-color: #412aa5;
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 15px;
}

.plat h1 {
  position: relative;
  color: #353535;
  padding-bottom: 15px;
}

.plat h1::after {
  content: " ";
  height: 3px;
  width: 55px;
  background-color: #99E2D0;
  position: absolute;
  top: 90%;
  left: 0px;
}

.dessert {
  background-color: #2aa568;
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 15px;
}

.dessert h1 {
  position: relative;
  color: #353535;
  padding-bottom: 15px;
}

.dessert h1::after {
  content: " ";
  height: 3px;
  width: 55px;
  background-color: #99E2D0;
  position: absolute;
  top: 90%;
  left: 0px;
}

.commande {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto 50px;
}

.commande a {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 100%);
  border-radius: 25px;
  height: 40px;
  width: 155px;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commande p {
  color: #f8f8f7;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

footer {
  background-color: #413b3e;
  width: 100%;
  height: 150px;
  color: white;
  padding: 30px 20px;
  /*position: fixed;
  bottom: 0px;
  */
}

footer p {
  margin-bottom: 7px;
}

footer img {
  width: 150px;
  color: white;
}

.proposer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
  margin-bottom: 7px;
}

.proposer p {
  margin-left: 15px;
}

.devenir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 7px;
}

.devenir p {
  margin-left: 10px;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=menu1.css.map */