
.plat{
    .box1b{
        animation: slide 6s ease  ;
        margin-top: 10px;
        cursor: pointer;
    }
    .box2b{
        animation: slide 6s ease  ;
        margin-top: 10px;
        cursor: pointer;
    }
    .box3b{
        animation: slide 6s ease;
        margin-top: 10px;
        cursor: pointer;
    }
    //background-color:#f3f3f2 ;
    background-color: rgb(150, 137, 65);
    text-transform: uppercase;
    font-size: 9px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.plat h2{
    position: relative;
    color: rgb(53, 53, 53);
    padding-bottom: 10px;
    padding-top: 40px;
}


.plat h2::after{
    content: " ";
    height: 3px;
    width: 55px;
    background-color:#99E2D0;
    position: absolute;
    top: 90%;
    left: 0px;
}