

.choix .tarif{
    p{
        background-color: deepskyblue;
        padding-top: 20px;
        font-size: 14px;
        font-weight: bold;
    }
    background-color: #07b664;

    position: absolute;
    //right: 0px;
    right: 2px;
    top: 0px;

    width: 20%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    //transition: 0.5s;
    transition: 0.5s;
}


.choix:hover .tarif {
    background-color: mediumseagreen;
    right: 40px;
}



